<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dados.Properties.Settings.ControleEstoqueConnectionString"
            connectionString="Data Source=C:\Projetos\Faculdade\unip-pim-controle-estoque\ControleEstoque\DataAccessLayer\Dados\ControleEstoque.sdf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>