<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dados.Properties.Settings.ControleEstoqueConnectionString"
            connectionString="Data Source=localhost\desenv;Initial Catalog=ControleEstoque;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Dados.Properties.Settings.ControleEstoqueConnectionString1"
            connectionString="Data Source=DANIEL-PC\desenv;Initial Catalog=ControleEstoque;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>